* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --primario: #FF5722;
    --oscuro: #E64A19;
    --fondo: #303030;
    --caja: #1d1d1d;
    --blanco: #FFFFFF;
    --gris: #A0A0A0;
    --fuente: 'Inter', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--fondo);
    font-family: var(--fuente);
    color: var(--blanco);
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex: 1;
    align-items: center;
    gap: 1rem;
}

/* --- Barra de navegación --- */
.barra-navegacion {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem 5%;
    z-index: 1000;
    background: linear-gradient(to bottom, rgba(0,0,0,0.8), transparent);
    backdrop-filter: blur(10px);
}

.contenedor-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
}

.logo {
    width: auto;
    height: 50px;
}

.logo img {
    width: 50px;
    height: auto;
}

.menu {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 2.5rem;
}

.menu a {
    text-decoration: none;
    color: var(--blanco);
    font-weight: 600;
    font-size: 0.9rem;
    text-transform: uppercase;
    transition: 0.3s ease;
}

.menu a:hover, .menu a.active {
    color: var(--primario);
}

.login {
    background: var(--primario);
    padding: 0.8rem 1.5rem ;
    border-radius: 4px;
    color: white;
}

.login:hover {
    color: var(--primario);
    background-color: var(--fondo);
}

/* --- Principal --- */
.hero {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    position: relative;
    background: url('https://images.unsplash.com/photo-1540497077202-7c8a3999166f?auto=format&fit=crop&q=80') center/cover no-repeat;
}

/* Overley gradiente */
.hero .overlay {
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
    background: linear-gradient(90deg, rgba(10,10,10,0.9) 30%, rgba(10,10,10,0.2) 100%);
    z-index: 1;
}

.contenido-principal {
    position: relative;
    z-index: 2;
    max-width: 700px;
}

.hero img {
    z-index: 2;
    width: 300px;
}

.hero h1 {
    font-size: 6rem;
    line-height: 1;
    font-weight: 900;
    margin-bottom: 1.5rem;
    letter-spacing: -2px;
}

.texto-resaltar {
    color: var(--primario);
}

.hero p {
    font-size: 1.1rem;
    color: var(--gris);
    margin-bottom: 2.5rem;
    max-width: 500px;
    line-height: 1.6;
}

/* --- Botones --- */
.botones {
    display: flex;
    gap: 1.5rem;
}

.boton {
    padding: 1.2rem 2.5rem;
    border-radius: 4px;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.9rem;
    transition: transform 0.2s, background 0.3s;
}

.boton-primario {
    background: var(--primario);
    color: white;
}

.boton-primario:hover {
    background: var(--oscuro);
    transform: translateY(-3px);
}

.boton-secundario {
    border: 2px solid white;
    color: white;
}

.boton-secundario:hover {
    background: white;
    color: black;
}

/* --- Info --- */
.info {
    position: absolute;
    bottom: 50px;
    right: 10%;
    display: flex;
    gap: 4rem;
    z-index: 2;
}

.estadistica {
    display: flex;
    flex-direction: column;
}

.datos {
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--primario);
}

.descripcion {
    font-size: 0.8rem;
    text-transform: uppercase;
    color: var(--gris);
    letter-spacing: 1px;
}

/*===============================
            FOOTER
=================================*/


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    border-top: 1px solid var(--primario);
    background-color: var(--caja);
    padding: 10px;
}

.redes-sociales {
    margin-top: 10px;
}

.redes-sociales a {
    margin: 0 5px;
    text-decoration: none;
}

.redes-sociales img {
    width: 32px;
    height: 32px;
    transition: all 0.3s ease-in;
}

.redes-sociales img:hover{
    transform: scale(1.1);
}

/*===============================
            GIMNASIOS 
=================================*/
.seccion-datos {
    display: flex;
    flex-direction: column;
    margin: 10rem 5% 5rem;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.centro-card {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    border: 2px solid var(--primario);
    border-radius: 10px;
    padding: 2rem;
    width: 100%;
    background: var(--caja);
    transition: all 0.3s ease;
}

.centro-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(255, 87, 34, 0.2);
}

/* Imagen GYM */
.centro-card .img-gym {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.centro-card .img-gym img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

/* Descripcion GYM */
.centro-card .descripcion {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.centro-card h3 {
    margin: 0;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--blanco);
}

.centro-card p {
    margin: 0;
    font-size: 0.95rem;
    color: var(--gris);
}

.centro-card p a {
    color: var(--primario);
    text-decoration: none;
    font-weight: 600;
}

.centro-card p a:hover {
    text-decoration: underline;
}

/* Mapa GYM */
.centro-card .ubicacion {
    display: flex;
    justify-content: center;
    border-radius: 8px;
    overflow: hidden;
}

.centro-card .ubicacion iframe {
    border: none;
    width: 100%;
    height: 200px;
}

/*===============================
            MEMBRESIAS
=================================*/

.body-membresia {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: 8rem 0;
    align-items: center;
}

.body-membresia h1 {
    font-size: 3.5rem;
    color: var(--primario);
    font-weight: 900;
    margin-bottom: 1rem;
}

.body-membresia sub {
    color: var(--gris);
    font-size: 0.95rem;
    margin-top: 1rem;
}

.seccion-membresias {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 0 1rem;
}

.card-membresia {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid var(--primario);
    border-radius: 10px;
    padding: 2rem;
    background: var(--caja);
    color: white;
    transition: all 0.3s ease;
    min-width: 280px;
    max-width: 320px;
}

.card-membresia:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 28px rgba(255, 87, 34, 0.35);
}

.card-membresia h4 {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    color: #d58a00;
    font-style: italic;
}

.card-membresia div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
    flex: 1;
}

.card-membresia p:first-child {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.card-membresia p {
    font-size: 1.05rem;
    color: var(--gris);
    margin: 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.card-membresia p strong {
    color: var(--primario);
    font-weight: 700;
}

.card-membresia button {
    cursor: pointer;
    background:var(--primario);
    color: white;
    border: none;
    padding: 1rem 2rem;
    font-weight: 700;
    font-size: 0.95rem;
    border-radius: 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    box-shadow: 0 8px 20px rgba(255, 87, 34, 0.25);
}

.card-membresia button:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 28px rgba(255, 87, 34, 0.35);
    background: var(--fondo);
    color: var(--primario);
}


/*===============================
            LOGIN
=================================*/

/* FORMULARIO */

.form-box {
    display: flex;
    flex-direction: column;
    border: 3px solid white;
    border-radius: 12px;
    padding: 30px;
}

.body-unete {
  width: 100%;
  height: auto;
  margin: 10rem 0;
  color: #f5f6f7;
  font-size: 16px;
}

.body-unete h1, .body-unete p {
  margin: 1rem auto;
  text-align: center;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}

fieldset {
  border: none;
  padding: 2rem 0;
  border-bottom: 3px solid #3b3b4f;
}

fieldset:last-of-type {
  border-bottom: none;
}

label {
  display: block;
  margin: 0.5rem 0;
}

.centros-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 1rem;
}

input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

input, textarea {
  background-color: #0a0a23;
  border: 1px solid #0a0a23;
  color: #ffffff;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #3b3b4f;
  border-color: white;
  min-width: 300px;
}

input[type="file"] {
  padding: 1px 2px;
}

/* --- Tarjetas de Socios --- */
.tarjeta-socio {
  border: 1px solid #FFD700;
  padding: 20px;
  margin-bottom: 15px;
  background-color: #1a1a1a;
  position: relative;
  border-radius: 8px;
  color: white;
}

.info-socio {
  color: white;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}

.boton-actualizar {
  background-color: #FFD700;
  color: black;
  font-weight: bold;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.3s ease;
}

.boton-actualizar:hover {
  background-color: #ffeb3b;
  transform: translateY(-2px);
}

.boton-borrar {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #FF3333;
  color: white;
  border: none;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.3s ease;
}

.boton-borrar:hover {
  background-color: #cc0000;
  transform: translateY(-2px);
}


/* Mobil */
@media (max-width: 768px) {
    .menu { 
        display: none; 
    }
    .hero { 
        text-align: center; padding: 0 5%; justify-content: center; 
    }
    .overlay { 
        background: rgba(0,0,0,0.7); 
    }
    .botones { 
        flex-direction: column; width: 100%; 
    }
    .estadistica { 
        display: none; 
    }
}